 <style>
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   li {
    list-style: none;
   }
    .navbar {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(246, 101, 61);
    color:pink;
   }
   .menu a {
    color: yellow;
    text-decoration: none;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: rgb(11, 230, 242);
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   </style>
 
 <nav class="navbar">
        <h3 class="logo">TrakEV</h3>

        <ul class="menu">
                <h2>{{name}}</h2>
                <li><a href="https://iithdashboard.com/"> Dashboard</a></li>
                <li><a href="schedule.html"> Schedule</a></li>
                <li><a href="https://iith.ac.in/">About IITH</a></li>
                <li><a href="/logout.hbs">Logout</a></li>
                <li><a href="/logout_all.hbs">Logout all</a></li>

        </ul>
    </nav>